.container{
    background-color: #ffffff;
    background-image: url(images/bakground);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
}
body{
    align-content: center;

}
.logo{
    position: absolute;
    width: 68px;
    height: 80px;
    left: 15px;
    top: 170px;
}
.navbar{
    border: 2px solid black;
}
.navbar-li{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
    left: 200px;
}
.navbar-li li{
    list-style-type: none;
    padding-left: 20px;
    display: inline-block;
}
.navbar-li li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #000000;
}
.text-1{
    position: relative;
    left: 600px;
    top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 48px;
    /* identical to box height */
    color: #000000;
}
.text-2{
    position: absolute;
    width: 659px;
    height: 183px;
    left: 85px;
    top: 280px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 61px;
    
    color: #000000;
}
.text-3{
    position: absolute;
    width: 659px;
    height: 183px;
    left: 250px;
    top: 500px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 61px;
    
    color: #000000;
}
.image-1{
    position: absolute;
    width: 505px;
    height: 250px;
    right:0px;
    top: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-2{
    position: absolute;
    width: 505px;
    height: 250px;
    right: 0px;
    top: 700px;
}
.chicken{
    position: absolute;
    width: 505px;
    height: 250px;
    right: 0px;
    top: 1100px;
}
.text-4{
    position: absolute;
    width: 125px;
    height: 27px;
    left: 178px;
    top: 706px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height */
    
    color: #000000;
}
.text-5{
    position: absolute;
    width: 240px;
    height: 81px;
    left: 136px;
    top: 738px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    
    color: #000000;
}
.text-5 li a{
    text-decoration: none;
    color: #333;
}

ul li a:hover{
    color: red;
    transition: ease-in;
    text-underline-position: below;
}
.fb{
    position: absolute;
    width: 49px;
    height: 48px;
    left: 98px;
    top: 908px;
    
    background: url(/1_Facebook_colored_svg_copy-128\ 1.png);
}
.ig{
    position: absolute;
    width: 47px;
    height: 47px;
    left: 155px;
    top: 908px;
    
    background: url(/1_Instagram_colored_svg_1-128\ 1.png);
}
.twitter{
    position: absolute;
    width: 44px;
    height: 47px;
    left: 222px;
    top: 908px; 
    background: url(/1_Twitter3_colored_svg-128\ 1.png);

}

.service{
    right: 0px;
}

#contacts{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#contacts ul{text-decoration: none;}

#call{
    position: relative;
    top: 400px;
    right: 100px;
}

#call > p{
    font-size: 50px;
}

#call > p > a{
    text-decoration: none;
    color: chocolate;
}

#contacts > ul{
    list-style: none;
}

#daji{
position: relative;
top:142px;
left:60px;
font-size: 30px;
font-family: cursive;
font-weight: 200;
font-style: italic;
}
